# Default ignored files
/../../test_10_25_Clion/.idea/shelf/
/../../test_10_25_Clion/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../test_10_25_Clion/.idea/httpRequests/
# Datasource local storage ignored files
/../../test_10_25_Clion/.idea/dataSources/
/../../test_10_25_Clion/.idea/dataSources.local.xml
